$background   : #F2F2F2 !default;
$shadow-color : darken($background, 10%) !default;

$body-font-size   : 14px !default;
$border-radius    : 2px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 760px !default;
$breakpoint-md: 840px !default;
$breakpoint-lg: 1024px !default;
